{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <article class="col-12 col-md-9">
        <p>Использованные технологии</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            Google
          </li>
        </ul>
      </article>
      <aside class="col-12 col-md-3">
        <p>Вот что я умею</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            Google
          </li>
        </ul>
      </aside>
    </div>
  </div>
{% endblock %}